*,
html {
    margin: 0%;
    padding: 0%;

}

body {
    background-color: #999;

}
.container-navbar{
    background-color: #999;
}

.ul-navbar {
    background-color:#999;
}
.li-navbar{
    border: 1px solid black;
    list-style-type: none;
    padding: 2px;
    color: black;
}
.navbar2 {
    background-color: #999;
}
.li-navbar2{
    border: 1px solid black;
    list-style-type: none;
    padding: 2px;
    color: black;
}

.WE {
    color: rgb(2, 65, 2);
}

.cite {
    color: red;
}
    
.cite2{
    color:rgb(141, 42, 6);
}
.q{
    color:black;
}

.wear {
    color:rgb(105, 58, 5);
}

       .p2 {
        color: rgb(105, 58, 5);
       }

       

       .s {
        color: rgb(105, 58, 5);
       }
       .s2{
        color: rgb(105, 58, 5);
       }
       .V {
        color: rgb(18, 182, 13);
       }